<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="csss/materialize.css")
        link(rel="stylesheet", href="css/app.css")
        title #{nombrePaginas}
    body
        header.barra
            h1 Actividades - Administracion de Proyectos
            a(href="#") Cerrar Sessión

        main.contenedor
                aside.contenedor-proyectos
                      .pane.crear-proyectos
                            a(href="/nuevo-pryecto" class="boton") Nueva Actividad
                                    
                      .panel.lista-pryectos
                                h2 Proyectos
                                ul#proyects.proyectos
                                    li
                                       a(href="#") Diseño de tienda virtual
                                    li
                                       a(href="#") Diseño de tienda virtual   
                                    li
                                       a(href="#") Diseño de tienda virtual
                                    li
                                       a(href="#") Diseño de tienda virtual       
            
                block contenido